@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* @media (prefers-color-scheme: light) {
    body {
        background-color: #FFF;
        color: #333;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #FFF;
    }
} */
/* All Style */
html {
    font-family: 'Open sans', sans-serif;
    text-align: center;
}
p {
    margin-left: 10px;
}
body {
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}
#wrapper {
    min-height: calc(100vh - 75px);
    overflow-y: scroll;
}
/* Logo Style */
#logo {
    max-width: 100%;
    max-height: 100%;
    float: left;
}
/* Navbar Style */
nav {
    width: 100vw;
    height: 75px;
    border-bottom: solid 5px black;
    left: 0;
    right: 0;
}
.navbuttonsleft {
    padding-left: 0px;
    display: flex;
    float: left;
    padding-top: 10px;
}
#navlogocenter {
    padding-left: 15%;
    display: flex;
    float: left;
    padding-top: 10px;
    padding-right: 12.5%;
}
.navbuttonsright {
    padding-right: 25px;
    display: flex;
    float: right;
    padding-top: 10px;
}
.navtext {
    display: block;
}
.navimage {
    padding-left: 20px;
}
/* Link Style */
a {
    text-decoration: none;
    color: #16324F;
    fill: #16324F;
}
a :hover {
    color: #25B3D3;
    fill: #25B3D3;
}
a ::selection {
    color: #F08700;
    fill: #F08700;
}
/* Footer Style */
footer {
    background-color: #817F82;
    border-top: solid 5px black;
    display: block;
    bottom: 0;
    width: 100vw;
    height: 70px;
}
.footertextleft {
    display: block;
    text-align: center;
    float: left;
    width: 33%;
    height: 10%;
    font-size: 20px;
}
.footertextcenter {
    display: block;
    text-align: center;
    float: left;
    width: 33%;
    height: 10%;
    font-size: 20px;
}
.footersocials {
    display: block;
    width: 33%;
    height: 10%;
    float: right;
    text-align: right;
}
.socialimages {
    width: 60px;
    height: 60px;
    margin: 4px 5px 4px 5px;
    float: right;
    display: block;
}
/* Landing Page Style */
#landingpage {
    min-height: calc(100vh - 75px);
    overflow-y: scroll;
    background-color: #25B3D3;
    background-image: linear-gradient(to bottom right, #16324F, #25B3D3, #25B3D3, #16324F);
    padding-right: 10%;
    padding-left: 10%;
}
#landingpage p {
    font-size: 17px;
}
#landingpage a {
    font-size: 25px;
    background-color: #16324F;
    color: white;
    padding: 10px;
}
/* Page Specific Style */
/* Index Page Style */
#cover-image {
    max-width: 75%;
    max-height: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#indextext {
    width: 50%;
    margin-left: 25%;
    font-size: 17px;
    text-align: left;
}
/* My Ideas Style */
#myideastable {
    width: 63%;
    margin-left: 20%;
    border-collapse: collapse;
}
#myideastable th, #myideastable td {
    border: 1px solid black;
    width: 50%;
}
#myideastable th {
    background-color: #817F82;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
.ideaname, .description {
    width: 100%;
    height: 35px;
    font-size: 15px;
    padding: 10px;
    border: 0;
    text-align: center;
    resize: vertical;
    box-sizing: border-box;
}
#addideabutton {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: solid 1px black;
    float: left;
    margin-left: 32.5%;
    margin-bottom: 100px;
}
#addideabutton:hover {
    background-color: #F08700;
}
#deleterow {
    float: right;
    margin-right: 25%;
}
#deletebutton {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: solid 1px black;
}
#deletebutton:hover {
    background-color: #F08700;
}
#deleterowpositioninput {
    width: 75px;
}
#saveworkbutton {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: solid 1px black;
}
#saveworkbutton:hover {
    background-color: #F08700;
}
/* Create New Project Style */
#ideadropdown {
    float: left;
    padding-left: 40%;
}
#newideainput {
    float: right;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    font-size: 17px;
    width: 20%;
}
#newideainputbutton {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
#chooseplatform {
    margin-top: 100px;
}
#chooseplatforminputs input[type="radio"] {
    opacity: 0;
}
#chooseplatforminputs input[type="radio"]:checked + label {
    background-color: #25B3D3;
}
#chooseplatforminputs label {
    font-size: 20px;
    background-color: #817F82;
    padding: 5px 10px 5px 10px;
}
#chooselayout {
    width: 40%;
    margin-top: 50px;
    float: left;
    margin-left: 30%;
    margin-right: 30%;
}
#chooselayoutform input[type="radio"] {
    background-color: #817F82;
    opacity: 0;
    margin: 20px;
}
#chooselayoutform input[type="radio"]:checked + label {
    color: #25B3D3;
    fill: #25B3D3;
}
/* My Projects Style */
.projectlink {
    width: 250px;
    height: 200px;
    float: left;
    display: block;
    border: 2px solid black;
    margin-left: 8%;
    margin-bottom: 40px;
}
.projectlinktitle {
    border-top: 1px solid black;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}
#projectlinkplatform, #projectlinklayout {
    margin: 0;
}
#projectlinklayout {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Project Style */
#projecttitle {
    font-size: 17px;
}
.project {
    width: 100%;
    height: calc(100vh - 155px);
}
#design {
    width: 50%;
    height: 100%;
    display: block;
    float: left;
}
#addDesignPageButton {
    width: 100px;
    height: 30px;
    border: 1px solid black;
}
.todo {
    width: 50%;
    min-height: calc(100vh - 155px);
    float: right;
    background-color: #f1f1f1f1;
    overflow-y: scroll;
}
#todotable {
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
    float: left;
}
#todotable tr td {
    border: 1px solid black;
    height: 45px;
}
.textboxinputname, .textboxinputdescription {
    background-color: #f1f1f1f1;
    width: 98%;
    font-size: 15px;
    text-align: center;
    height: 40px;
    border: 0;
    resize: vertical;
    box-sizing: border-box;
    padding: 10px;
}
.statusselect {
    width: 75%;
    height: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
    color: white;
    background-color: #16324F;
}
#todotablebuttons {
    float: right;
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
}
#addtodorowbutton, #deletetodorowbutton {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-top: 10px;  
    margin-left: 25%;
    margin-bottom: 100px;
}
#deletetodorowbuttoninput {
    width: 50px;
    margin-left: 2%;
}
#todosavebutton {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
}
#todosavebutton:hover, #addtodorowbutton:hover, #deletetodorowbutton:hover {
    background-color: #F08700;
}
#designtitlelink {
    float: left;
    margin-right: 42.5%;
    margin-left: 42.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 34px;
    width: 15%;
}
#todotitlelink {
    float: right;
    display: block;
    margin-right: 42.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 34px;
    width: 15%;
}
#designpageselector {
    background-color: #f1f1f1f1;
    width: 99%;
    margin-left: 0.5%;
    height: 50%;
    margin-top: 20px;
    border: 1px solid black;
    display: none;
    float: left;
    overflow-y: scroll;
}
#choosepagelayoutform input[type="radio"] {
    opacity: 0;
}
#choosepagelayoutform input[type="radio"]:checked + label {
    color: #25B3D3;
    fill: #25B3D3;
}
#choosepagelayoutform label {
    font-size: 20px;
    padding: 5px 20px 25px 10px;
}
#designpagebuttonenter {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    display: block;
    margin-left: 42.5%;
    margin-top: 20px;
}
/* To Do Style */
.fulltodo {
    width: 100%;
    height: calc(100vh - 275px);
    float: right;
    background-color: #f1f1f1f1
}
#fulladdtodorowbutton, #fulldeletetodorowbutton {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-top: 10px;  
    margin-left: 30%;
}
#fulladdtodorowbutton {
    margin-left: 20%;
}
/* Design Style */
#projectdesigndescription {
    width: 100%;
    height: 25vh;
    border: 1px solid black;
    resize: vertical;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 17px;
}
#designpagechooselayoutform {
    margin-top: 10px;
    margin-left: -2.5%;
}
#designpagechooselayoutform input[type="radio"] {
    opacity: 0;
}
#designpagechooselayoutform input[type="radio"]:checked + label {
    color: #25B3D3;
}
.designimage {
    width: 100px;
    height: 100px;
    margin-left: 42.5%;
    margin-right: 45%;
    margin-top: 20px;
}
/* About Us Style */
.aboutustextbox {
    margin: 0px 30% 75px 30%;
    text-align: left;
    border: 2px solid black;
    box-shadow: 10px 10px 8px gray;
    padding-right: 6px;
}
.aboutustext {
    margin: 0px 30% 0px 30%;
}
.aboutustext ul {
    list-style-type: none;
    padding-right: 50px;
}
#aboutustitle {
    text-shadow: 3px 3px 10px gray;
}
#aboutusfeaturedropdown {
    position: relative;
    display: block;
}
#aboutusfeaturedropdowncontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1f1;
    width: 250px;
    min-height: 10%;
    box-shadow: 4px 4px 2px gray;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    margin-left: 26.5%;
    z-index: 1;
}
#aboutusfeaturedropdown:hover #aboutusfeaturedropdowncontent {
    display: block;
}
#contactustitle {
    margin-top: 50px;
}
#socialstitle {
    margin-top: 75px;
}
#aboutussocials {
    display: block; 
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
 }
 .socials {
     max-width: 17.5%;
     max-height: 17.5%;
     display: inline-block;
     float: none;
     margin: 2.5%;
 }
 /* Account Style */
 #createnewaccount {
    width: 50%;
    float: left;
    margin-bottom: 10px;
 }
 #createnewaccount input {
    margin-right: 25%;
    margin-top: 20px;
    width: 30%;
 }
 #createnewaccount label {
    margin-left: 25%;
    width: 20%;
 }
 #signupbutton {
    margin-top: 10px;
    width: 25%;
    height: 30px;
    background-color: #817F82;
 }
 #signupbutton:hover {
    background-color: #25B3D3;
 }
 #loginaccount {
    width: 50%;
    float: right;
    margin-bottom: 10px;
 }
 #loginaccount input {
    margin-right: 25%;
    margin-top: 20px;
    width: 30%;
 }
 #loginaccount label {
    margin-left: 25%;
    width: 20%;
 }
 #loginbutton {
    margin-top: 10px;
    width: 25%;
    height: 30px;
    background-color: #817F82;
 }
 #loginbutton:hover {
    background-color: #25B3D3;
 }
 #accountpage {
    display: none;
    margin-right: 10%;
    margin-left: 10%;
 }
 #accountpage h2 {
    border-bottom: 2px solid black;
    margin: 50px 15% 20px 15%;
    padding-bottom: 10px;
 }
/* Settings Page Style */
#sidenavbar {
    top: 60px;
    padding-top: 40px;
    width: 15%;
    background-color: #f1f1f1f1;
    height: calc(100vh - 195px);
    position: fixed;
    text-align: center;
    display: block;
    list-style-type: none;
    font-size: 20px;
}
.sidenavlink {
   padding: 10px; 
   margin-right: 20%;
}
/* Base Settings Style */
#changecolorinput {
    width: 150px;
    height: 20px;
}
#changecolorenterbutton {
    width: 75px;
    height: 25px;
    border: 1px solid black;
    margin-left: 1%
}
#resetcolorbutton {
    width: 10%;
    height: 25px;
    border: 1px solid black;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
}
/* Project Defaults Style */
#choosedefaultplatforminputs input[type="radio"] {
    opacity: 0;
}
#choosedefaultplatforminputs input[type="radio"]:checked + label {
    background-color: #25B3D3;
}
#choosedefaultplatforminputs label {
    font-size: 20px;
    background-color: #817F82;
    padding: 5px 10px 5px 10px;
}
#defaultchooselayoutform input[type="radio"] {
    background-color: #817F82;
    opacity: 0;
    margin: 20px;
}
#defaultchooselayoutform input[type="radio"]:checked + label {
    color: #25B3D3;
    fill: #25B3D3;
}
#choosedefaultplatformenterbutton {
    width: 100px;
    height: 30px;
    border: 1px solid black;
}
/* Support Page Style */
.howtousesection {
    border-bottom: 1px solid black;
    padding: 15px;
    margin-right: 25%;
    margin-left: 25%;
}

