@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* @media (prefers-color-scheme: light) {
    body {
        background-color: #FFF;
        color: #333;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #FFF;
    }
} */
/* All Style */
html {
    font-family: 'Open sans', sans-serif;
    text-align: center;
}
p {
    margin-left: 10px;
}
body {
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}
#wrapper {
    min-height: calc(100vh - 75px);
    overflow-y: scroll;
}
/* Logo Style */
#logo {
    max-width: 100%;
    max-height: 100%;
    float: left;
}
/* Navbar Style */
nav {
    width: 100vw;
    height: 75px;
    border-bottom: solid 5px black;
    left: 0;
    right: 0;
}
.navbuttonsleft {
    padding-left: 0px;
    display: flex;
    float: left;
    padding-top: 10px;
}
.navbuttonsright {
    padding-right: 25px;
    display: flex;
    float: right;
    padding-top: 10px;
}
.navtext {
    display: block;
}
.navimage {
    padding-left: 20px;
}
/* Link Style */
a {
    text-decoration: none;
    color: #16324F;
    fill: #16324F;
}
a :hover {
    color: #25B3D3;
    fill: #25B3D3;
}
a ::selection {
    color: #F08700;
    fill: #F08700;
}
/* Footer Style */
footer {
    background-color: #817F82;
    border-top: solid 5px black;
    display: block;
    bottom: 0;
    width: 100vw;
    height: 70px;
}
.footertextleft {
    display: block;
    text-align: center;
    float: left;
    width: 33%;
    height: 10%;
    font-size: 20px;
}
.footertextcenter {
    display: block;
    text-align: center;
    float: left;
    width: 33%;
    height: 10%;
    font-size: 20px;
}
.footersocials {
    display: block;
    width: 33%;
    height: 10%;
    float: right;
    text-align: right;
}
.socialimages {
    width: 60px;
    height: 60px;
    margin: 4px 5px 4px 5px;
    float: right;
    display: block;
}
/* Image Link Style */

/* Page Specific Style */
/* Index Page Style */
#cover-image {
    max-width: 45%;
    max-height: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#indextext {
    width: 50%;
    margin-left: 25%;
    font-size: 16px;
    text-align: left;
}
/* My Ideas Style */
#myideastable {
    width: 63%;
    margin-left: 20%;
    border-collapse: collapse;
}
#myideastable th, #myideastable td {
    border: 1px solid black;
    width: 50%;
}
#myideastable th {
    background-color: #817F82;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
#ideaname, #description {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 0;
    border: 0;
    text-align: center;
}
#addideabutton {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: solid 1px black;
    float: left;
    margin-left: 32.5%;
    margin-bottom: 100px;
}
#addideabutton:hover {
    background-color: #F08700;
}
#deleterow {
    float: right;
    margin-right: 25%;
}
#deletebutton {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: solid 1px black;
}
#deletebutton:hover {
    background-color: #F08700;
}
#deleterowpositioninput {
    width: 75px;
}
/* Create New Project Style */
#ideadropdown {
    float: left;
    padding-left: 40%;
}
#newideainput {
    float: right;
    padding-right: 40%;
}
/* My Projects Style */
.projectlink {
    width: 250px;
    height: 200px;
    float: left;
    display: block;
    margin-left: 42.5%;
    border: 2px solid black;
}
.projectlinktitle {
    border-top: 1px solid black;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.projectlinkdescription {
    margin: 0;
    padding: 15px 10px 60px 10px;
}
/* Project Style */
.project {
    width: 100%;
    height: calc(100vh - 155px);
}
.design {
    width: 50%;
    height: 100%;
    display: block;
    float: left;
}
.todo {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #f1f1f1f1
}
#todotable {
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
    float: left;
}
#todotable tr td {
    border: 1px solid black;
    height: 45px;
}
.textboxinputname, .textboxinputdescription {
    background-color: #f1f1f1f1;
    width: 99%;
    font-size: 14px;
    text-align: center;
    height: 40px;
    border: 0;
}
.statusselect {
    width: 60%;
    height: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
    color: white;
    background-color: #817F82;
}
#todotablebuttons {
    float: right;
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
}
#addtodorowbutton, #deletetodorowbutton {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-top: 20px;  
    margin-left: 25%;
}
#deletetodorowbuttoninput {
    width: 7.5%;
    margin-left: 2%;
}
/* About Us Style */
#aboutussocials {
   display: block; 
   float: left;
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
}
.socials {
    max-width: 15%;
    max-height: 15%;
    margin: 5px;
    display: inline-block;
    float: none;
    margin: 2.5%;
}
/* Settings Page Style */
#sidenavbar {
    top: 60px;
    padding-top: 40px;
    width: 15%;
    background-color: #f1f1f1f1;
    height: calc(100vh - 195px);
    position: fixed;
    text-align: center;
    display: block;
    list-style-type: none;
    font-size: 20px;
}
.sidenavlink {
   padding: 10px; 
   margin-right: 20%;
}

